* {
    margin: auto;
    padding: 0;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(235, 235, 235);
}

header {
    position: relative;
    display: flex;
    align-items: center;
    margin: auto;
    background-color: rgb(191, 52, 52);
    color: white;
    padding: 20px;
}

h1 {
  margin-right: 55%;
}

h2 {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 45%;
    color: rgb(191, 52, 52); 
}
.submit {
    width: 350px;
    height: 350px;
    background-color: rgb(191, 52, 52);
    position: relative;
    display: flex; 
    flex-direction: column;
    justify-content: space-evenly; 
    align-items: center;
    margin: auto;
}

.submit-button {
   
 
  appearance: none;
  background-color: #FFFFFF;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: 1a1a1a;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: auto;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 80%;
  will-change: transform;
}

.submit-button:disabled {
  pointer-events: none;
}

.submit-button:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.submit-button:active {
  box-shadow: none;
  transform: translateY(0);
}

#textbox {
  appearance: none;
  background-color: #000000;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform; 
}

p {
  text-align: center;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

ol {
	padding-left: 0;
}

.nav {
	margin-left: 0%;
	display: inline;
}

a {
	color: white;
}



.baseball {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 60px;
}
   
.collectionbtn {
  appearance: none;
  background-color: #FFFFFF;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: 1a1a1a;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: auto;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 15%;
  will-change: transform;
}

.collectionbtn:disabled {
  pointer-events: none;
}

.collectionbtn:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.collectionbtn:active {
  box-shadow: none;
  transform: translateY(0);
}

.colldiv {
  text-align: center;
}

.card {
  position: relative;
  height: 300px;
  width: 200px;
  border: 15px rgb(170, 121, 57) solid;
  text-transform: uppercase; 
}

.card:disabled {
  pointer-events: none;
}

.card:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.card:active {
  box-shadow: none;
  transform: translateY(0);
}

.photo {
  position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    height: 296px;
    width: 196px;
    border: 4px rgb(0, 0, 0) solid;
}

.name {
  position: absolute;
    bottom: -10px;
    right: 0;
    width: 76%;
    height: 50px;
    text-align: center;
    font-size: 100%;
    background: rgb(200, 0, 0);
    border: 2px rgb(0, 0, 0) solid;
    z-index: 10;
}

.position {
  position: absolute;
    z-index: 15;
    font: 1em sans-serif;
    
    top: 15px;
    left: 10px;
    color: white;
    font-family: Impact,Haettenschweiler,Franklin Gothic Bold,Charcoal,Helvetica Inserat,Bitstream Vera Sans Bold,Arial Black,sans serif; 
    text-shadow: 1px 0 black, -1px 0 black;
}

.team {
  position: absolute;
    z-index: 15;
    font: 1em sans-serif;
    
    top: 15px;
    right: 10px;
    color: white;
    font-family: Impact,Haettenschweiler,Franklin Gothic Bold,Charcoal,Helvetica Inserat,Bitstream Vera Sans Bold,Arial Black,sans serif; 
    text-shadow: 1px 0 black, -1px 0 black;
}


.delete {
  appearance: none;
  background-color: #FFFFFF;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: 1a1a1a;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  min-height: 60px;
  min-width: 150px;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 15%;
  will-change: transform;
  margin-left: 500px;
}

.delete:disabled {
  pointer-events: none;
}

.delete:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.delete:active {
  box-shadow: none;
  transform: translateY(0);
}

.spacing {
  padding: 10px;
}




